<nav class="navbar navbar-expand-sm navbar-light bg-light mb-2">
    <div class="container-fluid">
      <img class=" logo" src="../assets/logo.png" routerLink="home">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link nav-link-course active" aria-current="page" routerLink="home">COURSES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-wishlist" routerLink="wishlist">MY WISHLIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="checkout">    
              <img class="logo-cart" src="../assets/shopping-cart@2x.png">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="profile">
              <img class="logo-profile" src="../assets/noun_profile_@2x.png">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>