<app-alert-message [message]="alertMessage" *ngIf="alertMessage || alertMessage !== ''" (close)="alertMessage = ''"></app-alert-message>
<div class="container">
    <div class="row align-items-start">
        <div class="col-8 right-padding">
            <div class="page-title-sorting">
                <p>{{ cartCourseList.length }} Course in Cart</p>
            </div>
            <div class="page-container-checkout">
                <div *ngFor="let course of courseListByPage" class="course-card">
                    <app-course-card renderingPlace="checkout" [courseCard]="course"></app-course-card>
                </div>
            </div>
            <app-pagination [hidden]="tPage <= 1" [currentPage]="cPage" [totalPage]="tPage" (sendPage)="fetchCourseForCurrentPage($event)"></app-pagination>
            <div class="shadow p-3 mb-2 bg-body rounded">
                <p>Recommended Courses</p>
                <div *ngFor="let course of recommendedCourses" class="course-card">
                    <app-course-card renderingPlace="recommend" [courseCard]="course"></app-course-card>
                </div>            
            </div>                
        </div>
        <div class="col-4 left-padding">
            <div class="shadow p-3 mt-5 mb-2 bg-body rounded">
                <p class="total-title">Total Amount</p>
                <p class="total-price">Rs {{ totalPrice }}/-</p>
                <p class="your-saving">You have saved Rs {{ savedPrice }}/-</p>
                <button class="btn btn-checkout" (click)="clickCheckOut()" [disabled]="cartCourseList.length === 0">CHECKOUT</button>
            </div>
        </div>
    </div>
</div>
