.btn-checkout {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    width: 100%;
}

p.total-title {
    font-size: 1rem;   
}

p.total-price {
    font-size: 1.5rem;
    font-weight: 600;
}

p.your-saving {
    font-size: .75rem;
    color: var(--primary-color);
}